<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

    <app-loading *ngIf="!posts"></app-loading> 

    <div id="profile-info" *ngIf="username">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="profile-images">
            <ion-img src="https://ucarecdn.com/{{profilePic}}/-/scale_crop/200x200/"></ion-img>
          </ion-col>
          <ion-col size="8">
            <p>{{ username }}</p>
            <ion-button shape="round" color="tertiary" routerLink="/main/edit-profile">Edit Profil</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-grid>
        <ion-row responsive-sm wrap id="images" *ngIf="posts">
          <ion-col size="4" class="images" *ngFor="let post of posts">
            <div>
              <img (click)="goTo(post)" class="main-image" src="https://ucarecdn.com/{{ post }}/-/scale_crop/200x200/" />
            </div>
          </ion-col>
        </ion-row>
    </ion-grid>
    <!--
  <div id="images" *ngIf="(userPost | async)?.posts as posts">
    <div class="images" *ngFor="let post of posts">
          <img (click)="goTo(post)" class="main-image" src="https://ucarecdn.com/{{ post }}/-/scale_crop/200x200/" />
    </div>
  </div>
-->
</ion-content>
