#images {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 606px;
}

.images {
    float: right;
    position: relative;
}

.main-image, .profile-image {
    width: 100px;
    height: 100px;
}