<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="main">
    <ion-card-content>
      <ion-card-title class="judul">NABIILAH STORE</ion-card-title>
        <ion-input class="input" clearInput placeholder="Nomor HP" type="text" [(ngModel)]="username"></ion-input>
        <ion-input class="input" clearInput placeholder="Masukkan Password" type="password" [(ngModel)]="password"></ion-input>
        <ion-button class="submit" fill="clear" (click)="login()"><ion-icon name="log-in" slot="end"></ion-icon>LOGIN</ion-button>
      <div text-center>
        <ion-label>Belum memiliki akun? </ion-label><ion-label routerLink="/register" color="tertiary">Daftar</ion-label>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
