<ion-header>
  <ion-toolbar>
    <ion-title>Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">

    <ion-button shape="round" color="tertiary" (click)="uploadFile()" *ngIf="!imageURL" fill="outline">UPLOAD</ion-button>
    <input class="filebtn" *ngIf="!imageURL" type="file" (change)="fileChanged($event)" #fileButton/>

    <ion-card *ngIf="imageURL">
      <div class="camera">
        <img src="https://ucarecdn.com/{{imageURL}}/"/>
      </div>
      <ion-card-content>
        <ion-textarea placeholder="Masukkan rincian gambar disini" [(ngModel)]="diskripsi"></ion-textarea>
        <ion-button shape="round" color="tertiary" (click)="createPost()">POSTING</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
