<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color="tertiary" (click)="goTo('/main/uploader')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="profile-info" *ngIf="username">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="profile-images">
            <ion-img src="https://ucarecdn.com/{{profilePic}}/-/scale_crop/200x200/"></ion-img>
          </ion-col>
          <ion-col size="8">
            <p>{{ username }}</p>
            <ion-button shape="round" color="tertiary" routerLink="/main/edit-profile">Edit Profil</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

</ion-content>
