<ion-header>
  <ion-toolbar>
    <ion-title>Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="camera">
      <img *ngIf="imageURL" src="https://ucarecdn.com/{{imageURL}}/"/>
    </div>
    <ion-card-content>
      <input *ngIf="!imageURL" type="file" (change)="fileChanged($event)" #file/>
      <ion-textarea placeholder="Masukkan rincian gambar disini" [(ngModel)]="diskripsi"></ion-textarea>
      <ion-button shape="round" color="tertiary" (click)="createPost()">POSTING</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
