<ion-header>
  <ion-toolbar>
    <ion-title>uploader</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading *ngIf="busy"></app-loading>
  <div class="center" *ngIf="!busy">
    <input class="filebtn" *ngIf="!imageURL" type="file" (change)="fileChanged($event)" #fileButton/>
    <ion-button shape="round" color="tertiary" (click)="uploadFile()" *ngIf="!imageURL" fill="outline">UPLOAD</ion-button>

    <div *ngIf="imageURL">
      <ion-img [src]="imageURL | async"></ion-img>
      <ion-card-content>
        <ion-textarea placeholder="Nama Barang" [(ngModel)]="namaBarang"></ion-textarea>
        <ion-textarea placeholder="Harga Barang" [(ngModel)]="hargaBarang"></ion-textarea>
        <ion-textarea placeholder="Stock Barang" [(ngModel)]="stockBarang"></ion-textarea>
        <ion-textarea placeholder="Diskripsi Barang" [(ngModel)]="diskripsi"></ion-textarea>
        <ion-button shape="round" color="tertiary" (click)="createPost()">POSTING</ion-button>  
      </ion-card-content>
    </div>

<!--
    <input class="filebtn" *ngIf="!imageCdn" type="file" (change)="fileCdn($event)" #cdnButton/>
    <ion-button shape="round" color="tertiary" (click)="uploadCdn()" *ngIf="!imageCdn" fill="outline">UPLOAD CDN</ion-button>

    <div *ngIf="imageCdn">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-img src="https://ucarecdn.com/{{imageCdn}}/-/preview/{{activeEffect}}"></ion-img>
            <ion-card-content>
              <ion-textarea placeholder="Masukkan rincian gambar disini" [(ngModel)]="diskripsi"></ion-textarea>
              <ion-button shape="round" color="tertiary" (click)="createCdn()">POSTING</ion-button>
            </ion-card-content>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col [class.active]="activeEffect==effects.effect1" (click)="setSelected('effect1')">
            <ion-img src="https://ucarecdn.com/{{imageCdn}}/{{scaleCrop}}/{{effects.effect1}}"></ion-img>
          </ion-col>
          <ion-col [class.active]="activeEffect==effects.effect2" (click)="setSelected('effect2')">
            <ion-img src="https://ucarecdn.com/{{imageCdn}}/{{scaleCrop}}/{{effects.effect2}}"></ion-img>
          </ion-col>
          <ion-col [class.active]="activeEffect==effects.effect3" (click)="setSelected('effect3')">
            <ion-img src="https://ucarecdn.com/{{imageCdn}}/{{scaleCrop}}/{{effects.effect3}}"></ion-img>
          </ion-col>
          <ion-col [class.active]="activeEffect==effects.effect4" (click)="setSelected('effect4')">
            <ion-img src="https://ucarecdn.com/{{imageCdn}}/{{scaleCrop}}/{{effects.effect4}}"></ion-img>
          </ion-col>
          <ion-col [class.active]="activeEffect==effects.effect5" (click)="setSelected('effect5')">
            <ion-img src="https://ucarecdn.com/{{imageCdn}}/{{scaleCrop}}/{{effects.effect5}}"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
-->

  </div>
</ion-content>
