ion-slide {
    display: block;
}

.slide-img-padding {
    padding: 40px;
    padding-bottom: 0px;
}

h1 {
    font-size: 30px;
    font-weight: lighter;
}

img {
    max-height: 400px;
}

p {
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
}

.slider {
    --bullet-background-active: #54388E;
}

.btn-tertiary {
    height: 40px;
}

@media screen and (max-height: 775px) {
    img {
        width: 70%;
    }
}