<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-loading *ngIf="!cartBox"></app-loading>

  <ion-list>
    <ion-item-sliding *ngFor="let item of cartBox" lines="inset">
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img src="{{ item.url }}"></ion-img>
        </ion-thumbnail>
      <ion-label>
        <h2>{{ item.nama | uppercase }}</h2>
        <div class="count">
          <div class="btn">
            <ion-button expand="full" fill="clear" class="add" (click)="updateCart(item,-1)"><ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon></ion-button>
          </div>
            <ion-item class="in">
              <ion-input class="input" value="{{ item.jumlah }}"></ion-input>
            </ion-item>
          <div class="btn">
            <ion-button expand="full" fill="clear" class="add" (click)="updateCart(item,1)"><ion-icon slot="icon-only" name="add-circle-outline"></ion-icon></ion-button>
          </div>
        </div>
      </ion-label>
      <ion-note slot="end">
        <p class="harga">Rp {{ item.harga | number }} x{{ item.jumlah }}</p>
        <strong class="subharga">Rp {{ (item.harga * item.jumlah) | number }}</strong>
      </ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-item>
    Total: <span slot="end">Rp {{ totalan | number }}</span>
  </ion-item>
</ion-footer>