<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>NABIILAH STORE</ion-title>
    <ion-buttons slot="end" (click)="openCart()">
      <ion-badge >{{ cartLenght }}</ion-badge>
      <ion-icon name="cart" slot="icon-only"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

<!--
  <div>
    <ion-slides [options]="sliderConfig" class="category-block">
      <ion-slide *ngFor="let product of cart">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{ product.nama }} - Rp.{{ product.harga }}
            </ion-card-title>
            <ion-card-content>
              <img src="{{product.url}}"/>
              <ion-button expand="full" color="tertiary" (click)="addToCart(product)">ADD TO CART</ion-button>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
-->

    <app-loading *ngIf="!produk"></app-loading> 

    <div class="produk-terbaru">
      <span class='produk-terbaru-title'>PRODUK TERBARU</span>
      <span class='produk-terbaru-link'>Lihat semua</span>
    </div>

    <div class='produk-terbaru-content'>
      <ion-grid>
          <ion-row id="images" *ngIf="produk" align-items-center>
            <ion-col class="image" size="6" *ngFor="let post of produk">
              <div>
                <div (click)="goTo(post.id)">
                  <img src="{{ post.url }}" />
                </div>
                <div class="disk">
                      <ion-label class="nama">{{ post.nama }}</ion-label>
                  <ion-grid>
                    <div class="harga">
                      <ion-label class="rp">RP</ion-label><ion-label>{{ post.harga | number }}</ion-label>
                    </div>
                    <div>
                      <ion-button class="add" size="small" expand="full" color="tertiary" (click)="addToCart(post)">ORDER</ion-button>
                    </div>
                  </ion-grid>
                </div>
              </div>
            </ion-col>
          </ion-row>
      </ion-grid>
  </div>

<!--
    <div class='produk-terbaru-content'>
        <ion-grid>
            <ion-row id="images" *ngIf="posts" align-items-center>
              <ion-col class="image" size="6" *ngFor="let post of posts">
                <div>
                  <img (click)="goTo(post)" src="https://ucarecdn.com/{{ post }}/-/scale_crop/200x200/" />
                </div>
              </ion-col>
            </ion-row>
        </ion-grid>
    </div>

  <div id="images" *ngIf="(userPost | async)?.posts as posts">
    <div class="images" *ngFor="let post of posts">
          <img (click)="goTo(post)" class="main-image" src="https://ucarecdn.com/{{ post }}/-/scale_crop/200x200/" />
    </div>
  </div>
-->

</ion-content>
