<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      <div text-center>NABIILAH STORE</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-item>
    <ion-label position="floating">Nomor HP</ion-label>
    <ion-input type="number" [(ngModel)]="hp"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="pass"></ion-input>
  </ion-item>

  <ion-button color="tertiary" full (click)="login()">Login</ion-button>

  <ion-item>
    <ion-label>{{ nomer }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{ password }}</ion-label>
  </ion-item>

</ion-content>
